# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
staticfiles/
media/

# Env
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# Tests
.coverage
htmlcov/
.pytest_cache/

# Ruff
.ruff_cache/

# OS
.DS_Store
Thumbs.db